flows.json
[
    {
        "id": "b7df1bbcaf322424",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "947205617cb5961c",
        "type": "inject",
        "z": "b7df1bbcaf322424",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "1f35249e475be4c8"
            ]
        ]
    },
    {
        "id": "9a9bb293a549c10b",
        "type": "debug",
        "z": "b7df1bbcaf322424",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f35249e475be4c8",
        "type": "function",
        "z": "b7df1bbcaf322424",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "9a9bb293a549c10b",
                "babb43f98cdf809f"
            ]
        ]
    },
    {
        "id": "babb43f98cdf809f",
        "type": "ui_text",
        "z": "b7df1bbcaf322424",
        "group": "a63f71aa012e5ba6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TimeStamp Interpretado",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "a63f71aa012e5ba6",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "c8f02e09f145984a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8f02e09f145984a",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]